.task-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  h1 {
    margin-bottom: 20px;
  }

  .task-card {
    margin-bottom: 15px;
  }

  .add-task-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  mat-card-header {
    justify-content: center;
  }
}
